body {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:110%;
  text-align: center;
  color:hex(400, 85%, 35%);
  border: chocolate solid;
  background-color: rgb(221, 200, 173);
  background-size:cover;
  background-repeat: no-repeat;
 /*display: grid;
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;*/
}

header {
  text-align:left;
  font-family: sans-serif;
  background-color: #c0baa3; 
  color: rgba(24, 19, 19, 0.404);
  background-image: url("..images/shoulder level.jpg");
  background-size: cover;
}
.img {
  width: 100px;
}



/*nav {text-align: left;
background-color:#302f2b ;
width: fit-content;
color: chocolate;
padding-left: 3%;*/
}
#container{
  display: flex;
  justify-content: space-between;
}


/*#headshot { width: 40%;
border: chocolate solid;
  border-radius: 50%;
  margin-top: 5%;
  width: 145px;
}*/

article { text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 5%;
}
footer {
  background-color: #c0baa3;
  text-align: center;
  color: chocolate;
}
.content{
  display: inline-block;
  width: 45%;
  height:250px;
  margin:5px;
  background-color: rgb(146, 175, 165);
}
#top{
  width: 90%;
}

#icon {
  width: 4rem; 
  margin: 3%;
}
a:link {
  color: rgb(31, 29, 21);
}
a:visited {
  color:rgb(39, 61, 33)
}
@media only screen (max-width:768px)/*if the browser is 768px or smaller*/
body{background-size:cover;
  
}
.content {display:grid;
width:45%,
height:250px;
background-color:rgb(146, 175, 165);
margin-left:auto;
margin-right:auto;
}

.img{width: 100px;}

@media only screen and (max-width: 550px) {
   body { background-image:url() ;
  background-size:cover; }
} 
.content{
display: block;
width:75%;
height:250px;
background-color: #c0baa3;
margin-left:auto;
margin-right: auto;
}
.grid-container{
  display: grid;
  grid-gap:10px;
}
/*.part2{grid-row-start: 1;
grid-row-end: 6;}*/


@media only screen and (min-width: 992px) {
   body { background-image: url("");
  background-size: cover; }
  }
  .content{
    display: inline-block;
    width:45%;
    height:250px;
    background-color: #c0baa3;
    margin-left:auto;
    margin-right: auto;
    }
    #top{
      width: 90%;
    }


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   body { background-color: rgb(204, 190, 165); }
}