body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:110%;
  color:rgb(206, 104, 104);
  background-color: #FCF7F8;
  border: coral solid;
}

header {
  text-align:center;
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  
}

nav {text-align: left;
background-color:green ;
width: fit-content;
}

#headshot { width: 30%;
  height: 15%;
border: blue solid;
  border-radius: 50%;
}

article { text-align: ;
  font-family: 'Courier New', Courier, monospace;
background-color:rgb(13, 71, 62) ;}
footer {
  background-color: #343330;
  text-align: center;
}
.icons{ width: 3rem;
height: auto;
margin: 5%;}
