body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align:center;
  background-color: #343330;
}

nav {text-align: left;
background-color:green 
}

article { text-align: ;
  font-family:  ;
  font color: ;
background-color:rgb(23, 23, 66) ;}
footer {
  background-color: #343330;
  text-align: center;
}
